player-connection-mode=Listen
player-connection-guid=3273718438
player-connection-debug=0
player-connection-project-name=Sprite Flight
player-connection-ip=192.168.1.198
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2778bde6b9d04f429d8a46c8d9dcfcf5
